
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



.contenerNAV{
display: flex;
justify-content: space-around;

}
.listContener{
    
    display: flex;
    gap: 10px; 
    align-self: center;
    
}
li{
    list-style: none;
   
}
.logoContener{
    display: flex;
    align-items: center;
     align-self: center;
     gap: 20px;
     
    
    
}
.navLogoSpan{
   
    font-size: 25px;
    background: #299BFF;
background: radial-gradient(circle farthest-side at center center, #299BFF 62%, #0AD6FF 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


    font-family: 'Roboto', sans-serif;

}
.ahref{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;

}
.ahref:hover{
    background: #299BFF;
background: radial-gradient(circle farthest-side at center center, #299BFF 62%, #0AD6FF 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
body {
    background-color: rgb(30, 26, 86);
}