@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
.contenerNAV {
  display: flex;
  justify-content: space-around;
}
.listContener {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-top: 20px;
}
li {
  list-style: none;
}
.logoContener {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 20px;
  margin-top: 20px;
}
.navLogoSpan {
  font-size: 25px;
  color: rgb(131, 215, 235);
  font-family: "Roboto", sans-serif;
}
.ahref {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.ahref:hover {
  color: rgb(131, 215, 235);
}

.contenerHome {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(255, 255, 255);
  margin-top: 70px;

  gap: 30px;
  color: rgb(255, 255, 255);
  padding: 50px;
  padding-top: 70px;
}

header {
  height: 600px;
  background-image: url(res/bgk-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.Ptext {
  border-top: 2px solid rgb(131, 215, 235);
  border-top-style: ridge;
  padding: 20px;
  min-width: 450px;
  max-width: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(131, 215, 235);
  border: 1px ridge rgb(131, 215, 235);
  padding: 10px;
}

button:hover {
  background-color: transparent;
}
.contenerOurStory {
  
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: aliceblue;
  padding: 70px;
  padding: top 70px;
}
.ourStory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
}
h4 {
  width: 400px;
  font-weight: lighter;
}
.watchOurStory {
  height: 600px;
  background-image: url(res/bgk-middle.png);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.playLogo {
  width: 100px;
}
.watchText {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.expertiseContener {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.expertiseText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.ourExpertise {
  
  width: 1600px;
  height: 800px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
padding: 20px;
}
.expertiseCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  margin-top: 30px;
  
  
}
.h2Expertise {
  
  font-size: 20px;
  text-align: center;
}
.h3Expertise {
  width: 200px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  text-align: center;
}
.h3ExpertisetTitle{
  width: 600px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  text-align: center;
}

.ourTeamContener {
  background-image: url(res/bgk-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  width: 100%;
 padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 20px;

}
.teamText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.theTeam{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.teamCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.teamButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.containerPeopleSay {
  display: flex;
}
.h1Team{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.h2Team{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.h3Team {font-size: 20px;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.ContainerPeopleSay {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  height: 800px;
}

.FormContainer {
  width: 600px;
}

.LogosContainer {
  display: flex;
  width: 400px;
}

.logosColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.Logos {
  width: 100px;
  height: 100px;
}





