.contenerNAV {
  display: flex;
  justify-content: space-around;
}
.listContener {
  display: flex;
  gap: 10px;
  align-self: center;
}
li {
  list-style: none;
}
.logoContener {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 20px;
}
.navLogoSpan {
  font-size: 25px;
  color: rgb(131, 215, 235);
}
.ahref {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.ahref:hover {
  color: rgb(131, 215, 235);
}

.contenerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 70px;
}

body {
  background-image: url(./res/bgk-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.Ptext {
  border-top: 2px solid rgb(131, 215, 235);
  border-top-style: ridge;
  padding: 20px;
  min-width: 450px;
  max-width: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(131, 215, 235);
  border: 1px ridge rgb(131, 215, 235);
  padding: 10px;
}

button:hover {
  background-color: transparent;
}
